@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

body {
  margin: 0;
  min-height: 100vh;
  @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}